<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">

    <title>
    {% block title %}
    {% endblock %}
    </title>
</head>
<body>


{% block menu %}

<div class="header">
        <div class="logo"></div>

        <ul class="menu">
            <li><a href="/">Главная</a></li>


            <li class="drop-vis"><a href="#" class="drop-vis">Пользователи</a>
                <ul class="drop-inside">
                    <li><a href="/sortnameusers" id="click" >Сортировка: по имени</a></li>
                    <li><a href="/sortsurnameusers" >Сортировка: по фамилии</a></li>
                    <li><a href="/sortemailusers" >Сортировка: по емайл</a></li>
                    <li><a href="/sortageusers" >Сортировка: по возрасту</a></li>
                </ul>
            </li>
            <li><a href="/newuser" >Добавить пользователя</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>

{% endblock %}
<div>
    {{ www }}
</div>

<div class="container">
    <p><span id="x"></span></p>
    {% block content %}

    {% endblock %}
</div>

{% block tables %}

{% endblock %}


</body>
<script type="text/javascript">

    document.addEventListenerById("click", function (e)
    {
    var x = (e.target.innerText = 'name');
    document.getElementById('x').innerHTML = x;
    alert(x);
<!--    let div = document.createElement('div');-->

<!--    div.innerHTML = "<strong>e.target.innerText = 'name'</strong> Вы прочитали важное сообщение.";-->

<!--    document.body.append(div);-->
    });

</script>

</html>