{% extends 'base.html' %}

{% block title %}
    Моя страница About
{% endblock %}

{% block content %}

<table>
<!--    {% if href==www %}-->
    {% for field in users|sort(attribute='name') %}

    <tr>
        <td>{{ field.name }}</td>
        <td>{{ field.surname }}</td>
        <td>{{ field.email }}</td>
        <td>{{ field.password}}</td>
    </tr>


    {% endfor %}
<!--{% endif %}-->
</table>

<script type="text/javascript">
    var href = document.getElementById('link').getAttribute('href');
    alert(href);
    return href;

</script>

{% endblock %}