{% extends "base.html" %}

{% block menu %}
{% endblock %}

{% block contentblog %}
{% endblock %}

{% block lastusers %}
{% endblock %}

{% block content %}
<h1>Регистрация нового пользователя</h1>

{% block tabl %}

<div class="formregister">
<form action="" method="post">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">Имя</label>
      <input type="text" class="form-control" id="validationDefault01" name="author" value="Ваше имя" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Ник</label>
      <input type="text" class="form-control" id="validationDefault02" name="nikname" value="Ваш ник" required>
    </div>

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
      <label class="form-check-label" for="invalidCheck2">
        Agree to terms and conditions
      </label>
    </div>
  </div>
    <div class="btnregister col-8" >
  <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>
</form>

</div>
{% endblock %}

{% endblock %}




