<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>About</title>
</head>
<body class="projects">
<div>
    <h1 class="project">Наши проекты</h1>
</div>

<div>
    <div class="col-2">
            <a href="/parce"> Проект города России </a>
    </div>

    <div class="col-2">
            <a href="/parceInFile"> Проект города России - через запись/чтение файла</a>
    </div>

    <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor viverra tincidunt. Proin turpis lorem, sodales vel felis quis, efficitur placerat risus. Cras semper ex id accumsan hendrerit. Suspendisse potenti. Duis fringilla nulla quis quam maximus pretium. Nullam at tellus non dolor dictum ornare. Mauris malesuada sem neque, sit amet sollicitudin ligula mollis viverra. Praesent cursus diam eu diam consequat, id ultricies purus congue. Aenean et dolor sem. Phasellus aliquet, risus sit amet tincidunt tincidunt, quam odio lobortis lacus, non laoreet enim eros quis ex. Sed cursus felis ut fermentum venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        <img src="static/img/htm.jpeg" width="200" height="200" alt="Picture" align="left" vspace="15" hspace="15">
        Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
        Nam pharetra hendrerit ligula ut lobortis. Vivamus viverra posuere magna, a gravida eros consequat non. Nam accumsan id mauris non pellentesque. Nam sollicitudin, risus eget suscipit volutpat, ante augue fermentum magna, ac viverra augue ligula ut mauris. Vestibulum eleifend urna ipsum, et congue risus euismod a. Ut nunc neque, aliquam eu pulvinar eu, rutrum vel tortor. Aliquam elementum egestas ipsum, nec ultrices massa vestibulum eget.
        Praesent sit amet tincidunt libero. Maecenas non mi lectus. Donec dignissim ut leo quis ultrices. Nunc consequat massa sit amet pretium lacinia. Nam facilisis, augue eu interdum accumsan, mauris ex blandit nibh, id congue metus leo at ex. Vivamus quis interdum lorem. Suspendisse euismod magna est, eget tempus nisi consequat a. Praesent a consectetur velit. Aliquam erat volutpat. Proin laoreet pretium nunc, sit amet consectetur mi vulputate eget. Cras pretium ex eu rutrum eleifend. Integer tincidunt orci nec semper rutrum. Phasellus in auctor orci. Duis nulla nunc, rhoncus id lobortis at, lobortis et arcu.
        Quisque augue libero, luctus in libero a, faucibus tristique justo. Nullam posuere massa lorem. Fusce sit amet mauris mauris. Aenean tempus pretium felis. Praesent dolor dolor, efficitur a tempus non, cursus nec urna. Nullam lacinia dui ligula, at tincidunt odio semper eu. Ut rutrum justo congue pretium mattis. Aliquam vel arcu sed nulla tempor vulputate vitae consequat dui. Sed maximus luctus auctor. Quisque vitae rutrum nisl, eget posuere ex. Nulla a vehicula nisl, at finibus ante. Vivamus vitae nulla vestibulum, suscipit nisi nec, consequat lacus. Duis ornare condimentum consectetur. Curabitur at dui eu felis dignissim feugiat non et libero.
        Phasellus tempor tempor enim at cursus. Cras finibus nunc eget dolor convallis semper vitae at lorem. Vestibulum eu dui vitae orci ornare fringilla vel eu dui. Vestibulum eget placerat mauris. Donec fermentum lorem dui, at bibendum nisi porttitor sed. Etiam dignissim lacus a mi lobortis tincidunt. Curabitur consectetur euismod mauris sit amet aliquam. Nulla blandit leo quis purus rhoncus, vitae elementum lorem ullamcorper. Nullam tempor semper sapien sit amet sollicitudin. Quisque ut dui vitae turpis aliquet accumsan ac non dui. Fusce laoreet tortor at enim dictum, a consectetur nisi semper. Nullam id consectetur sem. Fusce luctus felis nec justo maximus eleifend. Curabitur quis leo commodo turpis finibus venenatis. Aliquam maximus nunc felis, ac posuere ligula vestibulum sit amet.

    </p>
</div>



<div>
    <a class="about_return" href="/">Вернуться назад</a>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>