{% extend 'index.html' %}


{% block content %}
<h4>Введите логин и пароль Супер-пользователя</h4>
<h1>

</h1>
<form method="post" action="{{ url_for('autorize') }}">
    <label>Логин</label>
    <input type="text" id="mail" name="mail">
    <label>Пароль</label>
    <input type="password" id="password" name="password">
    <button type="submit">Войти</button>
    <button type="submit" formmethod="get">Выйти</button>
</form>

{% endblock %}

{% block message %}
<div>
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div>
{% endblock %}
